body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #AAAAEF;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}

*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic
{
background-image:url(4.jpg);
background-repeat:no-repeat;
width:900px;
height:354px;	
}

.off
{
color:#3A6028;
	
}

#menu
{
background-color: #808000;
width:940px;
height:50px;
float:left;
clear:both;
}

#content
{
	margin-top: 10px;
align-content: center;
width:880px;
height:auto;
background-color:#BDB76B;
padding-top: 5px;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#content_form
{

text-align: center;
width:880px;
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:165px;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	color: #2F4F4F;
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #888958;
	font-weight: initial;
	padding-top: 10px;
	font-size: 20px;
}

#menu a:hover{
	color:#BECCDD;
}

#content p
{
	text-align: justify;
}


html, body {
text-align: center;
}
p {text-align: left;}